# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/DEVNOthink Generate Markdown TOC.iml
/markdown.xml
/misc.xml
/modules.xml
/other.xml
/inspectionProfiles/profiles_settings.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
/.idea/DEVNOthink Generate Markdown TOC.iml
/.idea/markdown.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/other.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_29_06_22,_08_14_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_29_06_22__08_14__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_29_06_22,_08_14_[Changes]/shelved.patch
